$header-height: 40px;
$filter-height: 3em;
$header-bgColor: #2096F3;
.home-view {
  background-color: #FAFAFA;
  min-height: 100%;
  padding-bottom: 80px;//待修改
}
header {
  height: $header-height;
  color: #fff;
  line-height: $header-height;
  background: $header-bgColor;
  overflow: hidden;
}
header > img {
  max-width: 100%;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/*
  筛选
*/
.filter-wrp {
  background-color: #fff;
  padding: 0 10px;
  height: $filter-height;
  color: #9EA3AE;
  // position: relative;
  overflow-x: scroll;
  box-shadow: 0px 1px 1px 1.5px #EBEDEE;
  z-index: 9;

  ul {
    width: 450px;
  }

  ul > li.filter {
    float: left;
    padding: 0 15px 0 10px;
    margin-top: 0.5em;
    line-height: 2em;
    position: relative;
  }
}

.sort-icon-asc,.sort-icon-desc {
  position: absolute;
  right: 0;
  top: 2px;
}

.filter-active {

  .active-icon {
    color: #36A0F4;
  }
}

.filter-icon {
  position: absolute;
  background-color: #fff;
  width: $filter-height;
  height: $filter-height;
  right: 0;
  top: $header-height;
  padding-top: 1em;
  box-sizing: border-box;
  box-shadow: -1px 2px 1px 0.5px #EBEDEE;
}

.filter-text {
  position: absolute;
  width: 100%;
  height: $filter-height;
  line-height: $filter-height;
  font-size: 16px;
  top: $header-height;
  left: 0;
  background-color: #fff;
  z-index: 10;

  .search-icon {
    float: left;
    font-size: 1.1em;
    width: $filter-height;
    height: $filter-height;
    color: #D5D5D5;
  }

  input {
    min-width: 70%;
    border: none;
    outline: none;
    font-size: 16px;
    color: #D5D5D5;
  }
  input::-webkit-input-placeholder{
    color: #D5D5D5;
  }
  .search-close {
    float: right;
    width: $filter-height;
    height: $filter-height;
    color: #A3A8B2;
  }
}

/*tags*/
.filter-tags {
  padding: 20px 10px 0;
  text-align: left;

  .filter-tag {
    display: inline-block;
    padding: .2em .5em;
    margin-bottom: .5em;
  }

  .filter-tag-active {
    background: #36A0F4;
    border-radius: 10px;
    color: #fff;
  }
}

/*patients*/
.patients-wrp {
  margin-top: 20px;
  padding: 0 10px;
}

.patient {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 20px 15px 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 2px #EBEDEE;

  .patient-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .patient-top {
    float: right;
    margin-top: 20px;

    .enroll-time {
      font-size: 14px;
      color: #E2E2E2;
      margin-right: .5em;
    }
    .like {
      color: red;
    }
    .unlike {
      color: #E1E1E1;
    }
  }
}

.patient-info,.patient-test {
  float: left;
  color: #000;

  span {
    color: #ABB0B9;
    font-size: .8em;
  }
  .patient-age {
    margin-left: 3px;
  }
}
.patient-test {
  margin-left: 1em;
  text-align: left;

  .tags {
    margin-top: 10px;

    .tag {
      color: #F66156;
      border: 1px solid #F66156;
      border-radius: 5px;
      padding: 2px 5px;
      margin-right: 5px;
    }
  }
}
