$header-height: 40px;
.home-view {
  background-color: #FAFAFA;
  height: 100%;
  padding-bottom: 80px;//待修改
}
header {
  height: $header-height;
  line-height: $header-height;
}
header > img {
  max-width: 100%;
}

/*
  筛选
*/
.filter-wrp {
  background-color: #fff;
  padding: 0 10px;
  height: 3em;
  color: #9EA3AE;
  // position: relative;
  overflow-x: scroll;
  box-shadow: 0px 1px 1px 1.5px #EBEDEE;

  ul {
    width: 420px;
  }

  ul > li {
    float: left;
    padding: 0 10px;
    // margin-left: 1em;
    margin-top: 0.5em;
    line-height: 2em;
  }
}

.filter-active {
  color: #fff;
  background-color: #2096F3;
  border-radius: 15px;
}

.filter-icon {
  position: absolute;
  background-color: #fff;
  width: 3em;
  height: 3em;
  right: 0;
  top: $header-height;
  padding-top: 1em;
  box-sizing: border-box;
  box-shadow: -1px 2px 1px 0.5px #EBEDEE;
}

/*patients*/
.patients-wrp {
  margin-top: 20px;
  padding: 0 10px;
}

.patient {
  background-color: #fff;
  box-sizing: border-box;
  padding: 0 20px 15px 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 1px 2px 2px #EBEDEE;

  .patient-photo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;
    margin-top: -10px;
    margin-bottom: 10px;
  }
  .patient-top {
    float: right;
    margin-top: 20px;

    .enroll-time {
      font-size: 14px;
      color: #E2E2E2;
      margin-right: .5em;
    }
    .like {
      color: red;
    }
    .unlike {
      color: #E1E1E1;
    }
  }
}

.patient-info,.patient-test {
  float: left;
  color: #000;

  span {
    color: #ABB0B9;
    font-size: .8em;
  }
  .patient-age {
    margin-left: 3px;
  }
}
.patient-test {
  margin-left: 1em;
  text-align: left;

  .tags {
    margin-top: 10px;

    .tag {
      color: #F66156;
      border: 1px solid #F66156;
      border-radius: 5px;
      padding: 2px 5px;
      margin-right: 5px;
    }
  }
}
